<%- model_class = Schedule -%>
<div class="my-2">
  <div class="page-header">
    <h2><%=t '.title', default: [:'helpers.titles.edit', 'Edit %{model}'], model: model_class.model_name.human.titleize %></h2>
  </div>
</div>
<%= render partial: 'form' %>
